
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;

}
body {
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    transform-style: preserve-3d;
    background-color: #011420;
}
/*---加载动画---*/
div#content {
    background-image: url(../images/paper-backgroundBlack.png);
    background-repeat: repeat;
    background-size: cover;
    visibility: hidden;
    overflow:hidden;
    }

div#content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 黑色半透明层，透明度50% */
    z-index: 1;
} 
div#loader {
    display: flex;
    margin:0;
    padding:0;
    background-color: rgba(31, 29, 29, 0.692);
    transition: opacity 0.5s ease-out;
    pointer-events: none;
    display:none;
  }
div#Tsutsu {
    margin:0;
    padding:0;
    position: absolute;
    border: 4px rgba(3, 14, 44, 0.856) double;
    border-radius:6% 92% 8% 66% / 6% 66% 8% 91%  ;
    left: calc(78% - 28.125px);
    top: 71%;
    width: 56.25px;/*150,3/8*/
    height: auto;
    aspect-ratio: 5/2.6;
    background-color: rgba(255, 38, 0, 0.747);
    box-shadow: 13px 13px 20px 13px rgba(0, 28, 54, 0.76),
    inset 5px 15px 36px -3px #ffe600a4;
    filter: url(#mosaic);
    anchor-name: --my-anchor;
}
div#tsutsuShadow{
    margin:0;
    padding:0;
    position: absolute;
    line-height: 20px;
    border: 4px rgba(3, 14, 44, 0.856) double;
    position-anchor: --my-anchor;
    left: anchor(left);
    left: calc(84% - 33.75px);
    top: 70%;
    width: 67.5px;/*180,5/6*/
    height: auto;
    aspect-ratio: 5/2.6;
    border-radius:6% 92% 8% 66% / 6% 66% 8% 91%  ;
    transform: scale(-1, 1);
    background-color: rgb(146, 187, 0);
    opacity: 0.2;
}
div#loaderNumber {
    margin:0;
    padding:0;
    margin-right: 20px;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    width:400px;
    font-size: 150px;
    font-weight: lighter;
    background-image:linear-gradient(to top,rgb(24, 24, 24),#d9dab6 95%) ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3000px rgba(0, 0, 0, 0.9);
}

canvas {
    position: fixed;
    width: 200%;
    height: 200%;}



.header{
    display: flex;
    position: relative;
    top: -40px;/* 调整这个值以控制超出部分的高度 */
    left: 0.5%; /* 定位在页面中线 */
    width: 50%;
    height: 400px;
    justify-content: center;
    align-items: center;
    
    color: #f4f5e6bb;
    cursor: pointer;
    margin: 0 auto; /* 水平居中 */
    user-select: none; /* 通用的不可选中设置 */
    margin-bottom: 10%;
    z-index: 1;
}

.hello{
    display: inline-block;
font-size: 500px;
    font-weight: 900;  
    font-family: "ZCOOL XiaoWei", sans-serif;
    width:80%vw;
    text-shadow: 2px 2px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}


audio{
    position: fixed;
    top: 0;
    left: 80%;
    width: 340px;
    z-index: 2;
}

.grid-container {  
    display: grid;  
    grid-template-columns: repeat(1, 1fr); /* 单列布局，因为每个grid-item内部会处理列 */  
    grid-template-rows: repeat(5, 1fr);
    gap:260px; /* 网格项之间的间隙 */
    padding: 0;
    margin: 0 auto;
  }  
    
  .grid-item {  
    display: grid;  
    grid-template-columns:  20% 1fr 40% 1fr 20%; /* 左联、图片、右联三列 */  
    align-items: end;  
   justify-content: center;
    gap: -10px; /* 内部列之间的间隙 */  
    padding: 0;
    margin: 0;
    align-self: end;
  }  
   .grid-item2{
    display: grid;  
    grid-template-columns: 1fr 20% 1fr 40% 1fr 20% 1fr; /* 左联、图片、右联三列 */  
    align-items: end;  
    gap: -10px; /* 内部列之间的间隙 */  
    padding: 0;
    margin: 0;
    align-self: end;
   } 
   .grid-item3{
    display: grid;
    grid-template-columns:  1fr 40% 1fr; /* 左联、图片、右联三列 */  
    align-items: end;  
    gap: -10px; /* 内部列之间的间隙 */  
    padding: 0;
    margin: 0;
    
   } 
img.card{
    display: block; /* 移除图片下方的默认间隙 */
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
    width: 10%; 
    height: auto;
    box-shadow: #2e0328 0px 0px 10px;
    anchor-name:img-anchor;
    border: #e6ce4c 3px solid; 
    transform-style: preserve-3d;
    transition: all .1s;
}
img.photo{
    position: relative;
    width: 60%;
    height: 100%;
    left:20%;
    background-size: cover;
    background-position: center;
    filter: brightness(1.2);
}
.photo::after{
    content: "";
        display: none;
        position: absolute;
        inset: 0;
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/13471/sparkles.gif");
        mix-blend-mode: color-dodge;
}
.photo::before{
    content: "";
    display: none;
        position: absolute;
        inset: 0;
        background: 
        linear-gradient(
            115deg, 
            transparent 0%, 
            rgba(255, 255, 255, 0.5) var(--per), 
            rgba(0, 0, 0, .5) calc(var(--per) + 25%), 
            rgba(255, 255, 255, .5) calc(var(--per) + 50%),
            transparent 100%
        );
        mix-blend-mode: color-dodge;
}
.photo::after,
.photo::before{
    display: block;
}
img.glass:hover{
    width:100px;
    image-rendering: pixelated;
}
  
  .couplet-left, .couplet-right,.couplet2-left,.couplet2-right,.couplet3-left,.couplet3-right { 
    text-align: center; /* 对联字居中 */
    writing-mode: vertical-rl; 
    place-self: center; /* 居中对齐 */
    padding: 0;
    margin: 0;
background-color: #eaebb963;
    font-family: "shanziguaziti";
    font-weight: lighter;
    overflow: visible;
  }  
  .couplet-left, .couplet-right{
height: 600px;
width: 50px;
    letter-spacing: 8px;
  }
  .couplet-left p, .couplet-right p{
    height:700px;
width: 20px;
    font-size: 80px;
    letter-spacing: 8px;
  }
  .couplet2-left,.couplet2-right,.couplet3-left,.couplet3-right{
    font-size: 50px;
max-height: 400px;
max-width: 30px;
  }
  .grid-container p{
    display: block;
    white-space: nowrap;
    color: #100418;
    left: 10px;
    white-space: nowrap;
  }

  /*对话效果*/
  .dialog {  
    grid-column: 3 / -3; /* 对话内容跨越所有列 */
    position-anchor: img-anchor;
    left:anchor(left);
    margin-top: 50px; /* 与上方内容之间的间距 */  
    font-family:"TekitouPoem_SemiBold";
    font-size: 24px;
    text-align: center; /* 对话内容居中 */
    margin: 0, auto; /* 对话内容居中 */
    padding: 50px;
    color: #131014;
    min-width:max-content;
    
    background-color: #f7f7f78c;
    backdrop-filter: blur(10px);
    border-radius: 11px;
    /* 投影 */
    box-shadow: 20px 20px 30px rgba(229, 232, 235, 0.288);
    /* 动画效果 50%的时候向上移动20px */
    animation: animate1 4s ease-in-out infinite;
  }
dialog1{
    font-family:"TekitouPoem_SemiBold";
  }
  #dialog2{
    
  }
  #dialog3{
    
  }
  #dialog4{
    font-family: 'OtsutomeFont_Ver3_15';
  }
  #dialog5{
    font-family: 'OtsutomeFont_Ver3_15';
  }
  /* 实现底部横线与圆点 */

  .dialog::after, .dialog::before {
    position: absolute;
    content: '';
    height: 11px;
    left: 0px;
    background-color: #ECE5CE;
    border-radius: 11px;
    /* 投影 */
    box-shadow: -20px -20px #83af9b;
}

/* 单独定义底部横线的样式，宽度为50px */

.dialog::after {
    width: 50px;
    bottom: 130px;
    /* 动画效果 50%的时候向上移动10px 加上P元素向上移动20，真实移动像素为20+10px */
    animation: animate2 4s ease-in-out infinite;
}

/* 单独定义底部圆点的样式，宽度为11px */

.dialog::before {
    width: 11px;
    bottom: 200px;
    /* 动画效果 50%的时候向上移动15px 加上P元素向上移动20，真实移动像素为20+15px */
    animation: animate3 4s ease-in-out infinite;
}

@keyframes animate1 {
    /* 初始化和结束状态为默认 */
    50% {
        transform: translateY(-20px);
    }
}

@keyframes animate2 {
    /* 初始化和结束状态为默认 */
    50% {
        transform: translateY(-10px);
    }
}

@keyframes animate3 {
    /* 初始化和结束状态为默认 */
    50% {
        transform: translateY(-15px);
    }
}
/*----------登记板-----------*/
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.board-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 30px; 
    background-color: #726a68;
    border: 1px solid #919983;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.board-header {
    padding: 5px; /* 修改为5px */
    background-color: #131a1f;
    color: #e0e0e0;
    display: flex;
    justify-content: center; /* 修改为center */
    align-items: center;
    cursor: pointer;
}

.board-body {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.board-body.expanded {
    max-height: 500px;
}

#namesList {
    list-style-type: none;
    padding: 0;
}

#namesList li {
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#namesList li button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
}
/*------------悼念位置坐席------*/
section#login{
    display: flex;
    row-gap: 40px;
}
/*-----------亲友席-----------*/
.shell1 {
    width: 40%;
    height:20%;
    left:20px;
    padding: 40px;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/cloth.png");
    border-radius: 63% 18% 65% 16% / 30% 5% 25% 9%;
    box-shadow: 0 0 60px 10px rgba(11, 10, 22, 0.986) inset;
    transform: rotate(30deg);
    transform-style: preserve-3d;
}
.shellContent{
    transform: rotate(-30deg);
    transform-style: preserve-3d;
}

input[type="text"]{
    width: 100px;
    height: 50px;
    margin: 10px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    border: 5px solid transparent;
    background: rgba(255, 255, 255, .5);
    border-radius: 100px;
    padding: 5px 20px 0 20px;
    transition: 0.3s;
    font-size: 18px;
    outline: none
}

input[type="text"]:hover{
    background: rgba(251, 255, 214, 0.938);
    border: 5px solid #ffffff;
}

input::placeholder {
    color: #ffffff48;
}


/*--------tips--------*/
.singleArrow1 {
    width: 200px;
    height: 10px;
    position: relative;
    background-color: #ccb5fd;
    transform: rotate(180deg);
}
.singleArrow1::after {
    content: '';
    display: block;
    position: absolute;
    right: -20px;  /* 箭头位置 */
    top: -5px;  /* 箭头位置 */
    border-top: 10px solid transparent; 	/* 箭头高低 */
    border-bottom: 10px solid transparent; /* 箭头高低 */
    border-left: 20px solid #626277; /* 箭头长度*/
    anchor-name: --arrow1;
}
.singleArrow2 {
    position: absolute;
    position-anchor: --arrow1;
    top: anchor(top);
    width: 200px;
    height: 10px;
    position: relative;
    background-color: #ccb5fd;
    transform: rotate(-90deg);
}
.singleArrow2::after {
    content: '';
    display: block;
    position: absolute;
    right: -20px;  /* 箭头位置 */
    top: -5px;  /* 箭头位置 */
    border-top: 10px solid transparent; 	/* 箭头高低 */
    border-bottom: 10px solid transparent; /* 箭头高低 */
    border-left: 20px solid #4f5279; /* 箭头长度*/
}
/*------客人席-----*/
.shell2{
    background-image: src("../images/chair.png");
    left: 75vw;
height: 200px;
}
/*----footer----*/
footer{
    width:100%;
    height:300px;

    background-color: silver; background-image: radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0px 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent), radial-gradient(circle at 0px 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent); background-size: 100px 50px; --darkreader-inline-bgcolor: #3c4143; --darkreader-inline-bgimage: radial-gradient(circle at 100% 150%, #3c4143 24%, #181a1b 24%, #181a1b 28%, #3c4143 28%, #3c4143 36%, #181a1b 36%, #181a1b 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0)),  radial-gradient(circle at 0px 150%, #3c4143 24%, #181a1b 24%, #181a1b 28%, #3c4143 28%, #3c4143 36%, #181a1b 36%, #181a1b 40%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0)),  radial-gradient(circle at 50% 100%, #181a1b 10%, #3c4143 10%, #3c4143 23%, #181a1b 23%, #181a1b 30%, #3c4143 30%, #3c4143 43%, #181a1b 43%, #181a1b 50%, #3c4143 50%, #3c4143 63%, #181a1b 63%, #181a1b 71%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0)),  radial-gradient(circle at 100% 50%, #181a1b 5%, #3c4143 5%, #3c4143 15%, #181a1b 15%, #181a1b 20%, #3c4143 20%, #3c4143 29%, #181a1b 29%, #181a1b 34%, #3c4143 34%, #3c4143 44%, #181a1b 44%, #181a1b 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0)),  radial-gradient(circle at 0px 50%, #181a1b 5%, #3c4143 5%, #3c4143 15%, #181a1b 15%, #181a1b 20%, #3c4143 20%, #3c4143 29%, #181a1b 29%, #181a1b 34%, #3c4143 34%, #3c4143 44%, #181a1b 44%, #181a1b 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0));
    background-repeat: repeat;
}